* {
  padding: 0;
  margin: 0;
}
.page {
  width: 1000px;
  margin: 65px auto 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}
ul {
  list-style: none;
  display: flex;
  gap: 45px;
}
li {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1f1534;
  cursor: pointer;
  opacity: 0.5;
}
ul li:hover {
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 49px;
  margin-bottom: 40px;
  line-height: 56px;
}
h1 span {
  font-weight: 700;
  color: #89c5cc;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 40px;
  color: #7d7987;
  line-height: 28px;
}
h2 span {
  font-weight: 700;
}
button {
  border: 0;
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
  background-color: #69b99d;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}
button:hover {
  background-color: #45af8a;
}
button img {
  margin-right: 12px;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 82px;
}
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.negrito {
  font-weight: 700;
  opacity: 1;
}
.bolas {
  position: fixed;
  right: 0;
  bottom: 0;
}
